@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
}
.warp {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

.top {
  width: 100%;
  height: 80%;
  display: flex;
}

.top-left {
  height: 100%;
  width: 80%;
}

.top-right {
  height: 100%;
  width: 20%;
}

.bottom {
  width: 100%;
  height: 20%;
}

.bottom-left {
  height: 100%;
  width: 70%;
  display: flex;
}

.bottom-right {
  height: 100%;
  width: 30%;
  background-color: #333333;
}

.col1{
    height: 19%;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: Roboto;
    background-color: #646464;
}

.in{
	width: 80%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333333;
	color: #ffffff;
}


.col2, .col3, .col4{
    height: 27%;
    width: 100%;
    background-color: #646464;
}

.row{
    height: 100%;
    width: 25%;
    background-color: #969696;
}
