<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shame-on-you</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script>
      //객체 가져오기
      const mainVideo = document.getElementById("mainVideo");
      const general = document.getElementById("general");
      const GAN = document.getElementById("GAN");
      const template = document.getElementById("template");

      const firstRow = document.getElementById("firstRow");
      const secondRow = document.getElementById("secondRow");
      const thirdRow = document.getElementById("thirdRow");

      //클릭시 객체의 스타일을 변경
      general.onclick = () => {
        mainVideo.style.backgroundImage = "url(./img/black.png)";
      };

      GAN.onclick = () => {
        mainVideo.style.backgroundImage = "url(./img/icefirebear.png)";
      };

      template.onclick = () => {
        mainVideo.style.backgroundImage = "url(./img/jangun.png)";
      };

      //3초뒤 실행
      setTimeout(() => {
        firstRow.style.backgroundImage = "url(./img/small_black.png)";
      }, 1000);

      //6초뒤 실행
      setTimeout(() => {
        secondRow.style.backgroundImage = "url(./img/small_icefirebear.png)";
      }, 2000);

      //9초뒤 실행
      setTimeout(() => {
        thirdRow.style.backgroundImage = "url(./img/small_jangun.png)";
      }, 3000);
    </script>
  </head>
  <body>
    <div class="warp">
      <div class="content">
        <div class="top">
          <img
            class="top-left"
            id="mainVideo"
            src="{{ url_for('video_feed',tag_id='template') }}"
            alt=""
          />
          <div class="top-right">
            <div class="col1">
              <div class="in">Shame-on-you</div>
            </div>
            <img
              class="col2"
              id="general"
              src="{{ url_for('video_feed',tag_id='general') }}"
              alt=""
            />
            <img
              class="col3"
              id="GAN"
              src="{{ url_for('video_feed',tag_id='GAN') }}"
              alt=""
            />
            <img
              class="col4"
              id="template"
              src="{{ url_for('video_feed',tag_id='template') }}"
              alt=""
            />
          </div>
        </div>
        <div class="bottom">
          <div class="bottom-left">
            <div class="row" id="firstRow"></div>
            <div class="row" id="secondRow"></div>
            <div class="row" id="thirdRow"></div>
            <div class="row" id="fourthRow"></div>
            <div class="row" id="fifthRow"></div>
          </div>
          <div class="bottom-right">
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
